/* TableViewStyle.css */
.table-view {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
    -fx-border-color: #999999;
    -fx-border-width: 1px;
}

.table-row-cell {
    -fx-background-color: #f0f0f0;
}

.table-row-cell:hover {
    -fx-background-color: #d0d0d0;
}

.table-row-cell:selected {
    -fx-background-color: #a0a0a0;
}

.table-view .column-header-background {
    -fx-background-color: #cccccc;
}

.table-view .column-header,
.table-view .table-cell {
    -fx-border-color: #999999;
    -fx-border-width: 1px;
}

.table-view .column-header,
.table-view .table-row-cell {
    -fx-padding: 5px;
}
